{{> buscar-nuevo }}


{{!-- {{{body}}} --}}

<div id="jan">

    <div class="container m-3 mx-auto bg-info">
        <div class="row text-center p-2">
            <div class="col-2">
                <h5>Nombre</h5>
            </div>
            <div class="col-2">
                <h5>Apellido</h5>
            </div>
            <div class="col-2">
                <h5>N. Documento</h5>
            </div>
            <div class="col-2">
                <h5>Celular</h5>
            </div>
            <div class="col-2">
                <h5>Correo</h5>
            </div>
            <div class="col-2">
                <h5>Ver</h5>
            </div>
        </div>
    </div>


    {{#each clientes}}
    <div class="container mx-auto  m-2">
        <div class="row text-center">
            <div class="col-2">
                <h6>{{ nombre }}</h6>
            </div>
            <div class="col-2">
                <h6>{{ apellido }}</h6>
            </div>
            <div class="col-2">
                <h6>{{ numero_documento }}</h6>
            </div>
            <div class="col-2">
                <h6>{{ celular }}</h6>
            </div>
            <div class="col-2">
                <h6>{{ correo }}</h6>
            </div>
            <div class="col-2">
                <a href="/pms/ver-cliente/{{id}}">Ver</a>
            </div>
        </div>
        <div class="dropdown-divider" style="border-color: black;"></div>
    </div>
    {{/each}}

</div>