<div class="container p-3">
    <div class="row">
        <div class="col-md-4">
            <h6><strong>Buscar:</strong></h6>
            <div id="card-buscar" class="card text-center" style="background: rgb(16, 158, 111);">

                <div class="card-body">
                    <form>
                        <input oninput="buscar_reservas(this);" type="search" name="busqueda" class="form-control"
                            placeholder="Escribe tu Busqueda..." autofocus>
                    </form>
                </div>

            </div>
        </div>
        
    </div>
</div>



<div class="container m-4 mx-auto row text-center m-2 justify-content-center align-items-center"
    style="border-radius: 0.5em;" id="cajita_titulos_reservas">
    <div class="col-md-2 ">
        <h5 style="color: white;"><i>Habitacion</i></h5>
    </div>
    <div class="col-md-3  p-2">
        <h5 style="color: white;">Nombre</h5>
    </div>
    <div class="col-md-3 ">
        <h5 style="color: white;">Documento</h5>
    </div>

    <div class="col-md-2 ">
        <h5 style="color: white;">Reserva</h5>
    </div>
    <div class="col-md-2 ">
        <h5 style="color: white;">Parking</h5>
    </div>

</div>
<div class="container p-4 m-4 mx-auto" id="jan_reserva">

    {{#each datos}}
    <div class="row text-center m-1">
        <div class="col-md-2  ">
            <h6>{{numero_habitacion}}</h6>
        </div>
        <div class="col-md-3 ">
            <h6>{{nombre}} {{apellido}}</h6>
        </div>
        <div class="col-md-3 ">
            <h6>{{numero_documento}}</h6>
        </div>
        <div class="col-md-2 ">
            <a href="/pms/ver-reserva/{{id_reserva}}" style="color: rgb(243, 246, 41);">Ver</a>
        </div>
        <div class="col-md-2 ">

            <a href="/pms/park/{{id_reserva}}" style="color: rgb(223, 10, 10);">Ir</a>

        </div>


    </div>
    <div class="dropdown-divider" style="border-color: black;"></div>


    {{/each}}

</div>