<button class="btn btn-success m-2 p-2" onclick="return atras();">Atras</button>
<script>
    atras = () => {
        window.history.back();
        return true;
    }
</script>


<div class="container p-1 mx-auto">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/pms/observacion/{{id}}" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6>Cliente</h6>
                                    <h6 class="form-control">{{kato.nombre}} {{kato.apellido}}</h6>
                                </div>
                                <div class="col-md-4 mx-auto">
                                    <h6>Ver Cliente</h6>
                                    <a href="/pms/ver-cliente/{{kato.id}}" class="btn btn-info btn-block">Ver</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Habitacion</h6>
                                    <h6 class="form-control">{{kato.numero_habitacion}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Adultos</h6>
                                    <h6 class="form-control">{{kato.adultos}}</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Ninos</h6>
                                    <h6 class="form-control">{{kato.ninos}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Check-In</h6>
                                    <h6 class="form-control">{{fecha_in}}</h6>
                                </div>
                                <div class="col-md-6">
                                    <h6>Check-Out</h6> 
                                    <input type="date" class="form-control" name="check_out" value="{{fecha_out}}" min="{{fecha_out_min}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Observaciones</h6>
                                    <textarea name="observacion" rows="4" class="form-control"
                                        autofocus>{{kato.observacion}}</textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning" style="color: green;">Guardar</button>
                                </div>
                                {{#if user.usuario}}
                                <div class="col-md-3 ml-auto">
                                    <button type="submit" class="btn btn-danger text-white">Borrar Reserva</button>
                                </div>
                                {{/if}}
                            </div>
                            
                            


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>