 <center><a href="/pisos">Atras <---  </a></center>
 <div class="container p-3">
    <div class="row">
        <div class="col-md-4">
            <h6><strong>Buscar en el 1er Piso:</strong></h6>
            <div class="card text-center" style="background-color: rgb(186, 201, 250);">

                <div class="card-body">
                    <form action="/tipo-habitacion" method="POST">
                        <input type="search" name="busqueda" class="form-control" placeholder="Escribe tu Busqueda..."
                            autofocus>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ml-auto" id="nuevo-cliente">
            <a href="/nu-habitacion" class="btn btn-success btn-block">Nueva Habitacion</a>
        </div>
    </div>
</div>
<div class="container p-4 m-4 mx-auto" id="jan">
    <div class="row text-center m-2 justify-content-center align-items-center bg-info">
        <div class="col-md-2  p-2">
            <h5>numero</h5>
        </div>
        <div class="col-md-2 ">
            <h5>descripcion</h5>
        </div>
        <div class="col-md-2 ">
            <h5>precio</h5>
        </div>
        <div class="col-md-2 ">
            <h5>Ocu/Desoc</h5>
        </div>
        <div class="col-md-2 ">
            <h5>Estado</h5>
        </div>
        <div class="col-md-2 ">
            <h5>+ Detalles</h5>
        </div>


    </div>
    {{#each habitacion}}
    <div class="row text-center m-2 justify-content-center align-items-center">
        <div class="col-md-2  p-2">
            <h6>{{numero_habitacion}}</h6>
        </div>
        <div class="col-md-2 ">
            <h6>{{descripcion}}</h6>
        </div>
        <div class="col-md-2 ">
            <h6>{{precio_habitacion}}</h6>
        </div>
        {{#if estado }}
        <div class="col-md-2 ">
            <h6 style="color: red;">OCUPADA</h6>
        </div>
        {{else}}
        <div class="col-md-2 ">
            <h6 style="color:rgb(10, 35, 180)">Desocupada</h6>
        </div>
        {{/if}}


        <div class="col-md-2 ">
            <h6 style="color: rgb(7, 170, 7);">Limpia <a href="#" onclick="estado();"> (+)</a> </h6>
            <script>
                function estado() { 
                    Swal.fire({
                        title: '<strong>Estado</strong>',
                        icon: 'success',
                        html:
                            '<select class="form-control">'+
                                '<option>Limpia</option>'+
                                '<option>En Limpieza</option>'+
                                '<option>Mantenimiento</option>'+
                            '</select>',
                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        confirmButtonText:
                            '<i class="fa fa-thumbs-up"></i> Listo!',
                        confirmButtonAriaLabel: 'Thumbs up, !',
                        cancelButtonText:
                            'Cancelar',
                        cancelButtonAriaLabel: 'Thumbs down'
                    })
                };
            </script>
        </div>

        {{!-- --}}
        {{#if estado }}
        <div class="col-md-2 ">
            <a href="/editar-habitacion-ocupada/{{id_habitacion}}" class="btn btn-secondary">Ver</a>
        </div>
        {{else}}
        <div class="col-md-2 ">
            <a href="/editar-habitacion-desocupada/{{id_habitacion}}" class="btn btn-secondary">Ver</a>
        </div>
        {{/if}}

    </div>
    {{/each}}

</div>