<div class="container p-3">
    <div class="row">
        <div class="col-md-4">
            <h6><strong>Buscar:</strong></h6>
            <div id="card_habitaciones" class="card text-center bg-success">

                <div class="card-body">
                    <form action="/pms/tipo-habitacion" method="POST">
                        <input oninput="buscar_habitaciones(this);" type="search" name="busqueda" class="form-control"
                            placeholder="Escribe tu Busqueda..." autofocus>
                    </form>
                </div>
            </div>
        </div>
        {{#if user.usuario}}
        <div class="col-md-4 ml-auto" id="nuevo-cliente">
            <a href="/pms/nu-habitacion" class="btn btn-success btn-block">Nueva Habitacion</a>
        </div>
        {{/if}} 
    </div>
</div>
<div class="container mx-auto row text-center m-2 p-1 justify-content-center align-items-center bg-success" style="border-radius: 0.5em;">
    <div class="col-md-2  p-2">
        <h5 id="color-letra-title">Numero</h5>
    </div>
    <div class="col-md-2 ">
        <h5 id="color-letra-title">Descripcion</h5>
    </div>
    <div class="col-md-2 ">
        <h5 id="color-letra-title">Precio</h5>
    </div>
    <div class="col-md-2 ">
        <h5 id="color-letra-title">Ocu/Desoc</h5>
    </div>
    <div class="col-md-2 ">
        <h5 id="color-letra-title">Estado</h5>
    </div>
    <div class="col-md-2 ">
        <h5 id="color-letra-title">+ Detalles</h5>
    </div>
</div>
{{#each habitacion}}
    <div id="bucle" style="display: none;">
        <div id="h{{numero_habitacion}}">{{persona}}</div>  
    </div>
{{/each}}
<div class="container p-4 m-4 mx-auto" id="jan_habitaciones">
    {{#each habitacion}}
    <div class="row text-center m-2 justify-content-center align-items-center">
        <div class="col-md-2  p-2">
            <h6 style="color: white;">{{numero_habitacion}}</h6>
        </div>
        <div class="col-md-2 ">
            <h6>{{descripcion}}</h6>
        </div>
        <div class="col-md-2 ">
            <h6 style="color: white;">{{precio_habitacion}}</h6>
        </div>
        {{#if persona }}
        <div class="col-md-2 ">
            <h6 style="color: red;" id="ocupada">OCUPADA</h6>
        </div>
        {{else}}
        <div class="col-md-2 ">
            <h6 style="color:rgb(248, 252, 6)" id="desocupada">Desocupada</h6>
        </div> 
        {{/if}}


        <div class="col-md-2 ">
            <h6 id="stado" style="color: rgb(7, 170, 7);" class="ide">{{estado}}</h6>
        </div>

        {{!-- --}}
        {{#if persona }}
        <div class="col-md-2 ">
            <a href="/pms/editar-habitacion-ocupada/{{id_habitacion}}" class="btn btn-secondary">Ver</a>
        </div>
        {{else}}
        <div class="col-md-2 ">
            <a href="/pms/editar-habitacion-desocupada/{{id_habitacion}}" class="btn btn-secondary">Ver</a>
        </div>
        {{/if}}

    </div>
    {{/each}}

</div>
<form action="/pms/estadoo" method="POST">
    <select name="estado" id="a" style="display: none;">
        <option id="inpu" value="yes"></option>
    </select>
    <select name="ide" id="b" style="display: none;">
        <option id="option" value="not"></option>
    </select>
    <button type="submit" id="nono" style="display: none;"></button>
</form>